<script src="https://kit.fontawesome.com/49855f4df4.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/footer.css">
<!--main container for footer-->
<div class="footer-container common-flex">

    <!--Div for containg the footer heading-->
    <div class="footer-heading">
      <p>Copyright @TheReaderClub | Designed  by <a href="#">TheReaderClub</a></p>
    </div>
  
  </div>